<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>ERP应用集成项目综合运维监控平台</title>
<link rel="stylesheet" th:href="@{css/bootstrap.min.css}" />
<link rel="stylesheet" th:href="@{css/font-awesome.min.css}" />
<script type="text/javascript" th:src="@{js/jquery-3.1.0.js}"></script>
<script type="text/javascript" th:src="@{js/bootstrap.min.js}"></script>

<style type="text/css">
#xo {
    width: 30%;
    max-width: 100%;
    margin-top: 10px;
    margin-left: 25px;
}
#zk {
    width: 30%;
    max-width: 100%;
    margin-top: 10px;
    margin-left: 15px;
}
</style>
</head>
<body>
<div>
<ul class="nav nav-tabs">
<li class="active"><a href="#"><span class="icon-copy"></span> 备份</a></li>
<li><a href="/availability"><span class="-cogs"></span> 可用性</a></li>
<li><a href="/performance"><span class="icon-bar-chart"></span> 性能</a></li>
<li><a href="/logsearch"><span class="icon-search"></span> 日志查询</a></li>
<li><a href="/hostlist"><span class="icon-table"></span> 主机列表</a></li>
</ul>
</div>

<div class="row">
	<div id="xo" class="col-md-4">
		<h3>集成平台</h3>
		<table id="t_xo" class="table">
			<thead>
				<tr>
					<th>OSB/BPM</th>
					<th>前天</th>
					<th>昨天</th>
					<th>今天</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<th scope="row">上市OSB</th>
					<td>000</td>
					<td>001</td>
					<td>002</td>
				</tr>
				<tr>
					<th scope="row">未上市OSB</th>
					<td>003</td>
					<td>004</td>
					<td>005</td>
				</tr>
				<tr>
					<th scope="row">总部OSB</th>
					<td>006</td>
					<td>007</td>
					<td>008</td>
				</tr>
				<tr>
					<th scope="row">海外OSB</th>
					<td>009</td>
					<td>010</td>
					<td>011</td>
				</tr>
				<tr>
					<th scope="row">OER</th>
					<td>012</td>
					<td>013</td>
					<td>014</td>
				</tr>
				<tr>
					<th scope="row">OSB监控</th>
					<td>015</td>
					<td>016</td>
					<td>017</td>
				</tr>
				<tr>
					<th scope="row">BPM流程</th>
					<td>018</td>
					<td>019</td>
					<td>020</td>
				</tr>
				<tr>
					<th scope="row">ADF表单</th>
					<td>021</td>
					<td>022</td>
					<td>023</td>
				</tr>
				<tr>
					<th scope="row">OAM</th>
					<td>024</td>
					<td>025</td>
					<td>026</td>
				</tr>
			</tbody>
		</table>
	</div>

	<div id="zk" class="col-md-4">
		<h3>自开发平台</h3>
		<table id = "t_zk" class="table">
			<thead>
				<tr>
					<th>自主开发</th>
					<th>前天</th>
					<th>昨天</th>
					<th>今天</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<th scope="row">人力资源自主开发</th>
					<td>00</td>
					<td>01</td>
					<td>02</td>
				</tr>
				<tr>
					<th scope="row">软件开发管理平台</th>
					<td>03</td>
					<td>04</td>
					<td>05</td>
				</tr>
				<tr>
					<th scope="row">科研报表平台</th>
					<td>06</td>
					<td>07</td>
					<td>08</td>
				</tr>
<!-- 				<tr>
					<th scope="row">合同管理平台</th>
					<td>09</td>
					<td>10</td>
					<td>11</td>
				</tr>
				<tr>
					<th scope="row">生产计划一体化</th>
					<td>12</td>
					<td>13</td>
					<td>14</td>
				</tr> -->
			</tbody>
		</table>
	</div>
</div>

<script type="text/javascript" th:src="@{js/backup.js}"></script>
</body>
</html>