<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>ERP应用集成项目综合运维监控平台</title>
<link rel="stylesheet" th:href="@{css/bootstrap.min.css}" />
<link rel="stylesheet" th:href="@{css/font-awesome.min.css}" />
<script type="text/javascript" th:src="@{js/jquery-3.1.0.js}"></script>
<script type="text/javascript" th:src="@{js/bootstrap.min.js}"></script>

<style type="text/css">
body {
    margin: 0;
}
iframe {
    display: block;
    background: #000;
    border: none;
    height: 20000px;
    width: 100%;
}

</style>
</head>
<body>
	<div>
		<ul class="nav nav-tabs">
			<li><a href="/"><span class="icon-home"></span> 首页</a></li>
			<li><a href="/backup"><span class="icon-copy"></span> 备份</a></li>
			<li><a href="/availability"><span class="icon-cogs"></span>	 应用状态</a></li>
			<li><a href="/performance"><span class="icon-bar-chart"></span>	性能</a></li>
			<li><a href="/sap"><span class="icon-bar-chart"></span> SAP</a></li>
			<li class="active"><a href="#"><span class="icon-search"></span> 日志查询</a></li>
			<li><a href="/hostlist"><span class="icon-table"></span> 主机列表</a></li>
			<li><a href="/vmlist"><span class="icon-table"></span> 虚机列表</a></li>
			<li><a href="/openshift"><span class="icon-cloud"></span> OpenShift</a></li>
		</ul>
	</div>

	<div id="elk" class="col-md-12">
		<iframe src="http://11.11.44.201:5601/" scrolling="no" frameborder="0"></iframe>
	</div>

</body>
</html>