<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Insert title here</title>
<link rel="stylesheet" th:href="@{css/bootstrap.min.css}" />
<link rel="stylesheet" th:href="@{css/font-awesome.min.css}" />
<script type="text/javascript" th:src="@{js/jquery-3.1.0.js}"></script>
<script type="text/javascript" th:src="@{js/bootstrap.min.js}"></script>
<script th:src="@{js/highcharts.js}"></script>
<script th:src="@{js/exporting.js}"></script>
<script th:src="@{js/drawlinecharts.js}"></script>
<script th:src="@{js/drawpiechart.js}"></script>
<script th:src="@{js/drawbarcharts.js}"></script>

</head>
<body>

<div id="appdistr" style="min-width: 310px; height: 400px; margin: 0 auto"></div>

<div id="topcpu" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
	
<div id="xoaps" style="min-width: 310px; height: 400px; margin: 0 auto"></div>

</body>
</html>