<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:remove="all">工作周报</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <!--<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />-->
    <link rel="stylesheet" href="/css/bootstrap.min.css" />


</head>
<body>
<p>
    亲爱的系统用户 <em th:text="${username}" ></em>
</p>
<p th:if="${count > 10}">
    Wow! You've got many reports filled this week (more than 10 chars)!
</p>
<p>
    You have been successfully subscribed to the <b>Fake newsletter</b> on
    <span th:text="${date}"></span> with <span th:text="${count}"></span>
</p>
<p>Your hobbies are:</p>
<ul th:remove="all-but-first">
    <li th:each="hobby : ${hobbies}" th:text="${hobby}"></li>
</ul>
<p>
    You can find <b>your inlined image</b> just below this text.
</p>
<div style="text-align: center;">
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>ERP运维</th>
            <th>中间件/UEP</th>
            <th>数据库</th>
            <th>OS/存储/网络</th>
            <th>HANA</th>
            <th>PaaS/大数据/开发</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td th:text="${erp}"></td>
            <td th:text="${mw_uep}"></td>
            <td th:text="${db}"></td>
            <td th:text="${os}"></td>
            <td th:text="${hana}"></td>
            <td th:text="${paas}"></td>
        </tr>
        </tbody>
    </table>
</div>
<a class="btn btn-default" href="http://localhost:8080/basis">登陆SRE</a>
<p>
    Best Regards! <br />
    <em style="font-size: 12px; color: #919191; font-family: 'Microsoft Yahei', 微软雅黑">本邮件由系统自动发出，请勿直接回复</em>
</p>
<!--<script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>-->
</body>
</html>